# OS
.DS_Store

# Secrets
.env
.env.local
**/.env

# Dependencies
node_modules/
**/node_modules/

# Build
dist/
**/dist/
.expo/
**/web-build/
expo-env.d.ts

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Prototype / local only
Waiting for project scope/
